{% extends 'basic.html' %}
{% block title %}
Edit Profile
{% endblock %}


{% block content %}
{% load static %}

{% load widget_tweaks %}
<div>
  <div style="width: 50vw; left: 50%; transform: translate(-50%,0); position: absolute; background-color: white; padding: 10px 20px; top: 15%;border-radius: 2%;">
    <form class="signup" method="POST" style="margin-top: 20px; border-radius: 5px; margin-bottom: 20px;" action="">
      {% csrf_token %}

      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}

      {% for field in form.visible_fields %}
        <div class="form-group">
          {{ field.label_tag }}
          {% render_field field class="form-control" %}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary" style="left: 50%; transform: translate(-50%,0); position: relative;">Save Changes</button>
    </form>
  </div>
</div>  
{% endblock %}