*{
    margin: 0;
    padding: 0;
    
}
html {
  scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6{margin:0;}
body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
}
.container-fluid {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto; 
}


.navbar-shrink{
    padding-top: 0;
    padding-bottom: 0;
	transition: all ease .5s;
}

h3.my-heading {
    font-weight: bold;
}
li.nav-item {
    margin: 0 20px 0 0;
}
header{
    width: 100%;
    height: 100vh;
    background: url('https://images.pexels.com/photos/1345085/pexels-photo-1345085.jpeg?auto=compress&cs=tinysrgb&h=650&w=940') no-repeat center center;
    background-size: cover;
    /*background: linear-gradient(#503eff, #08d4fd);*/
   /* background: linear-gradient(0deg, #08d4fd 0%, #503eff 100%);*/
    /*background: linear-gradient(#e66465, #9198e5);*/
    position: relative;
    color: #ffffff;
    overflow: hidden;
}
.overlay{position:absolute;background-color: rgb(80, 117, 218);height:100%;width:100%;top:0;left:0;}
header .tophead{
    margin-top: 150px;
	
}
.typewrite{
    color:white;
}
header .title-main{
    font-size: 45px;
    font-weight: bold;

}
header .subtitle-main{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 35px;
    line-height: 1.5em;
}

.jhk{
    margin-top: 240px;
}
header .btn-explore{
    display: inline-block;
    padding: 8px 20px;
    /*width: 128px;*/
    font-size: 14px;
    background: #3dce8c;
    border: 1px solid #3dce8c;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
	cursor:pointer;
    box-shadow: 0px 0px 10px 0px #00000059;
}

header .btn-account{
    display: inline-block;
    padding: 8px 20px;
   /* width: 128px;*/
    font-size: 14px;
    background: #ffffff;
    border: 1px solid #ffffff;
    color: #4f44ff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
	cursor:pointer;
    box-shadow: 0px 0px 10px 0px #00000059;
}
header .btn-account:hover {background-color: #3dce8c}
.top-btn-block a{
	margin: 0 7px 0 0;
}


/***overview***/
.overview-wrap .title-overview{
	text-align: center;
    color: #3dce8c;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 23px;
}
.overview-wrap .subtitle-overview{
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
    max-width: 660px;
	margin: 19px auto 103px;
    text-align: center;
}

.booking{
}

/***skewed***/
.sesgoabajo{
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}
.sesgoarriba{
    z-index: 10;
     position: absolute;
    left: 0;
    top: 0;
    border-width: 35vh 100vw 0 0;
    border-style: solid;
    border-color: #ffffff transparent transparent  transparent;
}
.contenedor{
    overflow: hidden;
    padding: 100px 5px;
}




/***our team***/
.our-team{position: relative;padding: 5rem 0;}
.title-our-team{
    text-align: center;
    color: #3dce8c;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 23px;
}
.subtitle-our-team{
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
    max-width: 660px;
	margin: 19px auto 103px;
    text-align: center;
}



/***overview***/
.overview-box{
    height: 340px;
    width: 100%;
    text-align: center;
    padding: 35px 20px;
}
.overview-box:hover{box-shadow: 0px 0px 10px rgba(0,0,0,0.3);transition: all ease 1s;}
.overview-box h5{
    font-weight: 700;
    line-height: 30px;
    font-size: 18px;
    text-transform: uppercase;
    color: #606060;
	margin-bottom:20px;
}
.overview-box p{font-size: 14px;color:#666666;}
.features-icons-icon {       
    vertical-align: middle;
    margin: 20px auto;
}
.features-icons-icon i {color:lightgrey;}
.overview-box:hover .features-icons-icon i.html5 {
    color: #e54d26;
	transition: all ease 1s;
}.overview-box:hover .features-icons-icon i.css3 {
    color: #379ad5;
	transition: all ease 1s;
}.overview-box:hover .features-icons-icon i.user {
    color: red;
	transition: all ease 1s;
}
.overview-box:hover .features-icons-icon i.xyzy {
    color: #0c76ab;
    transition: all ease 1s;
}




/***gallery***/

.galeria{
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    position: relative;
}
.imagenes{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.imagenes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.enmica{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.815);
}
.enmica h2{
    position: relative;
    top: 45%;
    text-align: center;
    color: #ffffff;
}
.enmica div{
    position: relative;
    display: block;
    top: 46%;
    width: 40px;
    height: 5px;
    background: #ffffff;
    margin: auto;
}


/******/
.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}


/* Footer */
footer.footer{padding:4rem 0;}
footer.footer ul li a{color: #ffffff;text-decoration: none;}
footer.footer p{font-size: 18px;color:#dcdcdc;}




/***responsive---/
@media only screen and (min-width: 960px) and (max-width: 1023px) {}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.enmica h2{font-size:15px;}
	/******/
	


@media only screen and (max-width:736px) and (orientation:landscape){}
@media only screen and (max-width:667px) and (orientation:landscape){}
@media only screen and (max-width:568px) and (orientation:landscape){}
@media only screen and (min-width: 600px) and (max-width: 767px) {
	.enmica h2{font-size:18px;}
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
	header .tophead {margin-top: 145px;}
	header .title-main {font-size: 28px;}
	header .subtitle-main {font-size: 13px;}
	header .btn-explore{padding: 5px 8px;font-size: 13px;}
	header .btn-account{padding: 5px 8px;font-size: 13px;}
	/******/
	.overview .title-overview{font-size: 28px;}
	.overview .subtitle-overview{font-size: 14px;}
	/******/
	.title-our-team{font-size: 28px;}
	.subtitle-our-team{font-size: 14px;}
	/******/
	.title-testimonials{font-size: 28px;}
	.subtitle-testimonials{font-size: 14px;}
	/******/
	.slide-one {padding: 30px 25px;}
	/******/
	section#blog .title-blog{font-size: 28px;}
	section#blog .subtitle-blog{font-size: 14px;}
	/******/
	.contactForm{padding: 0;}
	.contact-wrap h2{font-size: 28px;}
}

@media only screen and (min-width: 321px) and (max-width: 479px) {
	header .tophead {margin-top: 145px;}
	header .title-main {font-size: 25px;}
	header .subtitle-main {font-size: 13px;}
	header .btn-explore{padding: 5px 8px;font-size: 13px;}
	header .btn-account{padding: 5px 8px;font-size: 13px;}
	/******/
	.overview .title-overview{font-size: 25px;}
	.overview .subtitle-overview{font-size: 14px;}
	/******/
	.title-our-team{font-size: 25px;}
	.subtitle-our-team{font-size: 14px;}
	/******/
	.title-testimonials{font-size: 25px;}
	.subtitle-testimonials{font-size: 14px;}
	/******/
	.slide-one {padding: 30px 25px;}
	/******/
	section#blog .title-blog{font-size: 25px;}
	section#blog .subtitle-blog{font-size: 14px;}
	/******/
	.contactForm{padding: 0;}
	.contact-wrap h2{font-size: 25px;}
}

@media only screen and (max-width: 320px) {
	header .tophead {margin-top: 125px;}
	header .title-main {font-size: 18px;}
	header .subtitle-main {font-size: 13px;}
	header .btn-explore{padding: 5px 8px;font-size: 13px;}
	header .btn-account{padding: 5px 8px;font-size: 13px;}
	/******/
	.overview .title-overview{font-size: 25px;}
	.overview .subtitle-overview{font-size: 14px;}
	/******/
	.title-our-team{font-size: 25px;}
	.subtitle-our-team{font-size: 14px;}
	/******/
	.title-testimonials{font-size: 25px;}
	.subtitle-testimonials{font-size: 14px;}
	/******/
	.slide-one {padding: 30px 25px;}
	/******/
	section#blog .title-blog{font-size: 25px;}
	section#blog .subtitle-blog{font-size: 14px;}
	/******/
	.contactForm{padding: 0;}
	.contact-wrap h2{font-size: 25px;}

}
